.container-fluid
  .row{style: 'padding-top: 60px; padding-left: 20px;'}
    %h3 Lobby

    %table.lobby.table
      %tr
        %th Game Type
        %th Players
        %th Join

    %table.lobby_line{style: 'display: none'}
      %tr
        %td.game_type
        %td.player_count
        %td.join
          %a.btn.btn-success.btn-sm.join_game Join

:javascript
  jQuery(function($){
    //temporary until a lobby exists
    //document.location = '/tank';
    _lobby.startup();
  })
