.container-fluid
  .row{style: 'padding-top: 60px'}
    - if false
      .col-lg-2{style: 'background-color: blue'}
        = render partial: "layouts/left_bar"
    .col-lg-12
      = render partial: "layouts/messages"
      = render partial: "layouts/info"
      %br
      %canvas#game_canvas{width: 1024, height: 512, style: "border: 1px solid;"}

  .row
    .col-lg-12
      = render partial: "layouts/right_bar"

:javascript
  jQuery(function($){
      //This will always be tank
    var gameType = document.location.pathname.substr(1,document.location.pathname.length-2);
    if(gameType == 'tank'){
      _pt.startup();
    }
  })
