.form-inline
  .form-group
    %label Name:
    %input.form-control.name{placeholder: "Name"}

  .form-group
    %label Join Game:
    %input.form-control.join_game{placeholder: "Game ID"}

  .form-group
    %a.btn.btn-sm.btn-primary.join_game{href:'#'} Join