- if flash[:notice] || flash[:error]# || true
  .container
    - if flash[:notice]
      .alert.alert-info{role: :alert}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        = flash[:notice].html_safe
    - if flash[:error]
      .alert.alert-danger{role: :alert}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        = flash[:error].html_safe