-if false
  .container-fluid
    .row
      .form-inline

        .form-group
          %strong Name:
          %input.form-control.name{placeholder: "Name"}
    .row
      .form-inline
        .form-group{style: "padding-top: 20px;"}
          %strong Join Game:
          %input.form-control.join_game{placeholder: "Game ID"}
          %a.btn.btn-primary.join_game{href:'#'} Join
    .row
      .form-group{style: "padding-top: 20px;"}
        %a.btn.btn-success.new_game{href: '#'} New Game

:css
  .key {
    border: 1px solid;
    width: 50px;
    text-align: center;
    padding: 5px;
    margin 2px;
  }

.container-fluid
  .row
    %h4 Keys:
    %br
    %table
      %tr
        %td
        %td.key
          %i.fa.fa-arrow-up
          %br
          Increase Power
        %td
      %tr
        %td.key
          %i.fa.fa-arrow-left
          %br
          Aim Left
        %td.key
          %i.fa.fa-arrow-down
          %br
          Decrease Power
        %td.key
          %i.fa.fa-arrow-right
          %br
          Aim Right

      %tr
        %td{colspan: 3} &nbsp;

      %tr
        %td.key
          %strong A
          %br
          Move Left
        %td
        %td.key
          %strong D
          %br
          Move Right

      %tr
        %td{colspan: 3} &nbsp;
      %tr{style: 'border: 1px solid'}
        %td{colspan: 3, style: 'text-align: center'}
          %strong SPACE
          %br
          Shoot