!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = #favicon_link_tag asset_path("favicon.png")
    %title Poho's Games!
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    =# render 'peek/bar'

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid

        .navbar-header
          %a.navbar-brand{:href => "/"} Poho's Games
          %a.btn.btn-primary.btn-sm.menu_item{href: '/'} Lobby
          %a.btn.btn-success.btn-sm.menu_item.new_game{href: '/tank/', data: {game_type: 'tank'}} New Tank Game
          -# %a.btn.btn-success.btn-sm.new_game{href: '/play#tank', data: {game: 'asteroid'}} New Asteroid Game
        - if false
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              - menu_items.each do |menu|
                %li{class: "#{'active' if @page_url.include? menu[:url]}"}
                  %a{:href => menu[:url]}= menu[:name]

              %li
                %a{:href => '#'}=t(:logout)

    = yield
